<h1>Admin Dashboard</h1>

<p>
<div>Number of Products: <%= @products_count%></div>
<div><a class="btn btn-info" <%= link_to 'Products Dashboard', [:admin, :products] %>  <div>
 
</p>
<div>Number of Categories: <%= @categories_count%></div>




